/*Core*/
/*Colors*/
/*Links*/
/*Typography*/
/*Paths*/
/*Media-queries*/
/*Reset*/
*,
*:before,
*:after {
  box-sizing: inherit; }

dl,
dd,
dt,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
p,
form,
html,
body {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  line-height: 1; }

img {
  max-width: 100%;
  border: 0;
  vertical-align: top; }

ol,
ul {
  list-style-type: none; }

:focus {
  outline: none; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ins {
  text-decoration: none; }

input,
textarea,
select {
  margin: 0; }

figure {
  padding: 0;
  margin: 0; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0; }

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer; }

.dnone {
  display: none; }

/*Typography*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/ProximaNova-Regular.eot");
  src: url("../fonts/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/ProximaNova-Bold.eot");
  src: url("../fonts/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Bold.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova") format("svg");
  font-weight: bold;
  font-style: normal; }

/*Scaffold*/
html,
body {
  height: 100%;
  position: relative;
  background: #fff; }

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.9rem;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  color: #333; }

a {
  color: #333;
  text-decoration: none; }
  a:hover {
    color: #333;
    text-decoration: underline; }

p {
  margin: 0; }
  p + p {
    margin-top: 20px; }

strong {
  font-weight: 700; }

.dnone {
  display: none; }

.title-h2 {
  padding: 0 0 45px;
  font-size: 36px;
  font-weight: bold; }

.nolink {
  text-decoration: none;
  color: #333; }
  .nolink:hover {
    text-decoration: none;
    color: #333; }

/*Conatainer*/
#container {
  min-width: 300px;
  padding: 0 25px;
  position: relative;
  z-index: 10; }

.grey {
  color: #aaa; }

/*Sprite-svg*/
.icon-svg {
  display: inline-block; }

.icon-svg-Ellipse3 {
  height: 21.03px;
  width: 23px; }

.icon-svg-schedule-sub {
  height: 15px;
  width: 15px; }

.icon-svg-star {
  height: 14px;
  width: 15px; }

.icon-svg-vk {
  height: 34px;
  width: 34px; }

/*Blocks*/
.top {
  padding: 25px 0 15px;
  position: relative; }

.remember__title {
  padding: 0 0 7px;
  margin-bottom: -20px;
  font-size: 17px;
  line-height: 1.5;
  color: #aaa; }

.remember__text {
  line-height: 1.4;
  color: #444; }

.calendar {
  position: relative; }
  .calendar__item {
    padding: 35px 0;
    position: relative; }
    .calendar__item-title {
      padding: 0 0 12px;
      position: relative;
      font-size: 25px;
      font-weight: bold; }
    .calendar__item-small {
      padding: 0 0 20px;
      display: block;
      font-size: 17px;
      color: #aaa; }
    .calendar__item.border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .calendar-events__item > label {
    padding: 7px 7px 7px 30px;
    display: block;
    position: relative; }
    .calendar-events__item > label:active {
      background: #f9f9f9; }
    .calendar-events__item > label > input {
      position: absolute;
      left: 0; }

/*# sourceMappingURL=stylemaps/style.css.map */
